@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate-fade-in {
    animation: fade-in 0.3s ease-in-out forwards;
  }
  
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}


.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7;
  transform: scale(1.1);
}

::-webkit-scrollbar-thumb:active {
  background: #bdbdbd;
}

::-webkit-scrollbar-corner {
  background: #dcdcdc;
}

.scrollable-container {
  scrollbar-width: thin;
  scrollbar-color: #000000 #dcdcdc;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.select option:hover {
  background-color: #27272A;
  color: #FFFFFF;
}


.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
